<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoONiisHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27\ArcGIS10.3\python.exe|C:\inetpub\wwwroot\Django\mysite\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
